@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --background-color: hsl(210, 46%, 95%);
  --Header-font-weight: 700;
  --Text-font-weight: 500;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Manrope;
  font-size: 13px;
}

img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  font-size: 13px;
  background: var(--background-color);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 90%;
  max-width: 370px;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}

.container .img-wrap {
  height: 225px;
  overflow: hidden;
}

.container .text-wrap {
  padding: 3rem 2.5rem 1.2rem;
  position: relative;
}

.container .text-wrap .article-title {
  padding-bottom: 1.5rem;
  font-weight: var(--Header-font-weight);
  font-size: 1.5rem;
  color: var(--Very-Dark-Grayish-Blue);
}

.container .text-wrap .article-text {
  font-weight: var(--Text-font-weight);
  color: var(--Desaturated-Dark-Blue);
  font-size: 1.21rem;
}

.container .author-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 0 .5rem;
  gap: 1rem;
}

.container .author-details .author-info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .author-details .author-info-wrap .author-img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.container .author-details .author-info-wrap .info-bx {
  padding: .3rem 1.5rem .5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container .author-details .author-info-wrap .info-bx h2 {
  font-weight: var(--Header-font-weight);
  color: var(--Very-Dark-Grayish-Blue);
  font-size: 13px;
}

.container .author-details .author-info-wrap .info-bx p {
  font-weight: var(--Text-font-weight);
  color: var(--Desaturated-Dark-Blue);
  font-size: 13px;
}

.container .author-details .share-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .author-details .share-icon {
  background-color: var(--background-color);
  z-index: 2;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
}

.container .author-details .share-icon svg {
  fill: white;
}

.container .author-details .social-icons-wrap {
  background-color: var(--Very-Dark-Grayish-Blue);
  position: absolute;
  bottom: 1.6rem;
  right: 2.2rem;
  width: 0;
  max-height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: .85rem;
  font-weight: var(--Text-font-weight);
  text-transform: uppercase;
  color: var(--Grayish-Blue);
  letter-spacing: 5px;
  -webkit-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
  border-radius: 100%;
}

.container .author-details .social-icons-wrap .icons {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .9rem;
}

.container .author-details .social-icons-wrap .icons svg path {
  -webkit-transition: fill ease-in-out .25s;
  transition: fill ease-in-out .25s;
}

.container .author-details .social-icons-wrap .icons svg:hover path {
  fill: paleturquoise;
}

.container .author-details .social-icons-wrap.active {
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 1.2rem 1.7rem;
  max-height: 150px;
  border-radius: 0;
}

@media screen and (min-width: 650px) {
  .container {
    display: -ms-grid;
    display: grid;
    width: 750px;
    max-width: 800px;
    -ms-grid-columns: 300px 450px;
        grid-template-columns: 300px 450px;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    overflow: visible;
  }
  .img-wrap {
    -webkit-box-flex: .3;
        -ms-flex-positive: .3;
            flex-grow: .3;
    height: 50rem;
    overflow: hidden;
    border-radius: .5rem 0 0 .5rem;
    min-height: 325px;
  }
  .img-wrap img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .text-wrap {
    -webkit-box-flex: grow;
        -ms-flex: grow 0.7;
            flex: grow 0.7;
    padding: 2rem;
  }
  .share-wrap {
    position: relative;
  }
  .share-wrap .social-icons-wrap {
    position: absolute;
    top: -4.5rem;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.8rem 2.5rem;
    max-height: 150px;
    border-radius: 6px;
    overflow: visible;
    background-color: var(--Very-Dark-Grayish-Blue);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    font-size: .85rem;
    font-weight: var(--Text-font-weight);
    text-transform: uppercase;
    color: var(--Grayish-Blue);
    letter-spacing: 5px;
    -webkit-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;
    border-radius: 100%;
    opacity: 0;
    pointer-events: none;
  }
  .share-wrap .social-icons-wrap::before {
    content: "";
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--Very-Dark-Grayish-Blue);
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 95%);
            transform: translate(-50%, 95%);
  }
  .share-wrap .social-icons-wrap.active {
    pointer-events: initial;
    bottom: unset;
    right: 50%;
    width: 100%;
    padding: .8rem 2.5rem;
    max-height: 150px;
    border-radius: 6px;
  }
  .share-wrap .icons {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .share-wrap .icons svg path {
    -webkit-transition: fill ease-in-out .25s;
    transition: fill ease-in-out .25s;
  }
  .share-wrap .icons svg:hover path {
    fill: paleturquoise;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */